<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title >
      Calculadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none"> 
    <ion-label position="floating">Operação : </ion-label>
    <ion-input class="ion-text-right"  placeholder="Escreva o valor 1" [(ngModel)]="operacao"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start"> <strong> Resultado :  </strong></ion-label>
    <ion-label class="ion-text-right Resultado" >{{resultado}}</ion-label>
  </ion-item>
  <ion-grid size="100xs">
<!------------------Primeira Linha ------------------------------>
    <ion-row size="10xs" >
     
      <ion-item lines="full" class="item-has-focus ion-touched">
      <ion-col size="2"> 
        <ion-item lines="none">

         <ion-button slot="start" > <ion-label><h6 style="font-size: 10px">MC</h6></ion-label> </ion-button> 

        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item  lines="none">

       <ion-button slot="start"> <ion-label><h6 style="font-size: 10px">MR</h6></ion-label> </ion-button> 

        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item  lines="none">

          <ion-button slot="start"> <ion-label><h6 style="font-size: 10px">M+</h6></ion-label> </ion-button> 

        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item lines="none">

          <ion-button slot="start"> <ion-label><h6 style="font-size: 10px">M-</h6></ion-label> </ion-button> 
        </ion-item>  
      </ion-col>
      <ion-col size="2"> 
        <ion-item lines="none">

          <ion-button slot="start"> <ion-label><h6 style="font-size: 10px">MS</h6></ion-label> </ion-button> 

        </ion-item>
      </ion-col>
      <ion-col size="2"> 
        <ion-item lines="none">

          <ion-button slot="start"> <ion-label> <h6 style="font-size: 10px">Mª</h6> </ion-label> </ion-button> 

        </ion-item>
      </ion-col>
      
     </ion-item>



    </ion-row>
<!------------------Segundo Linha -------------------------------->
    <ion-row size="15xs">

      <ion-col size="3" class="ion-align-self-center" > 
        <ion-item button lines="none"   (click)="adicionarValor('%')" >
          <h3>%</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3" > 
        <ion-item button lines="none" (click)="limparOperacao()">
          <h3>CE</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none" (click)="limparMemoria()">
          <h3>C</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none" (click)="apagarCaracter()">
          <h3>(X)</h3>
        </ion-item>
      </ion-col>
      
     

    </ion-row>
<!------------------Terceira Linhas ------------------------------>
    <ion-row size="15xs">

      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('¹/x')"  >
          <h3>¹/x</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('x²')" >
          <h3>x²</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('²/x')" >
          <h3>²/x</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none" (click)="adicionarMatematica('/')">
          <h3>/</h3>
        </ion-item>
      </ion-col>
  
    </ion-row>
<!------------------Quarta Linhas -------------------------------->
    <ion-row size="15xs"> 
      
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('7')" >
          <h3>7</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('8')" >
          <h3>8</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('9')" >
          <h3>9</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none" (click)="adicionarMatematica('*')">
          <h3>*</h3>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------Quinta Linhas -------------------------------->
    <ion-row size="15xs">
      
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('4')" >
          <h3>4</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('5')" >
          <h3>5</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('6')" >
          <h3>6</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3" > 
        <ion-item button lines="none" (click)="adicionarMatematica('-')">
          <h3>-</h3>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------Sexta Linhas --------------------------------->
    <ion-row size="15xs">
      
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('1')" >
          <h3>1</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('2')" >
          <h3>2</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('3')" >
          <h3>3</h3>
        </ion-item>
      </ion-col>
      
      <ion-col size="3" > 
        <ion-item button lines="none" (click)="adicionarMatematica('+')" >
          <h3>+</h3>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------Seitma Linhas -------------------------------->
    <ion-row size="15xs">
      
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('+/-')" >
          <h3>+/-</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('0')" >
          <h3>0</h3>
        </ion-item>
      </ion-col>
      <ion-col size="3"> 
        <ion-item button lines="none"  (click)="adicionarValor('.')" >
          <h3>,</h3>
        </ion-item>
      </ion-col>

      <ion-col size="3"> 

        <ion-item button color="primary" lines="none" (click)="realizaOperacao()">
          <h3>=</h3>
        </ion-item>

      </ion-col>

    </ion-row>
    
  </ion-grid>
  
</ion-content>
